<base href="/">
<app-app2></app-app2><br>
<h1>Homework first exercise</h1>
<app-first-component></app-first-component>
<app-second-component></app-second-component><br>
<h1>Homework second exercise-waterfall </h1>
<app-child-component></app-child-component>
<br>
<br>
<app-customize></app-customize>
<br>
<h1>Pipes & Directives exercises </h1>
<br>
  <p>the following text is changed by default pipe :{{myText}} ==> {{myText | uppercase }}  </p>
  <br>
  <app-note></app-note>
<!-- <a routerLink="/routingExercise" routerLinkActive="active">Routing Homework exercise</a> -->
<!-- <a routerLink="/person">person</a>  -->
<app-person></app-person>
<br>
  <br>
  <router-outlet></router-outlet>
  <br>
  <br>
    <br>